
.row::after
{
	display: table;
	content:'';
	clear:both;
}
[class*='col-'] 
{
	float:left;
}
* 
{
  box-sizing: border-box;
}


.col-lag-1 
{
	width:calc((1/12)*100%);
}
.col-lag-2 
{
	width:calc((2/12)*100%);
}
.col-lag-3 
{
	width:25%;
}
.col-lag-4 
{
	width:calc((4/12)*100%);
}
.col-lag-5 
{
	width:calc((5/12)*100%);
}
.col-lag-6 
{
	width:50%;
}
.col-lag-7 
{
	width:calc((7/12)*100%);
}
.col-lag-8 
{
	width:calc((8/12)*100%);
}
.col-lag-9 
{
	width:75%;
}
.col-lag-10 
{
	width:calc((10/12)*100%);
}
.col-lag-11 
{
	width:calc((11/12)*100%);
}
.col-lag-12 
{
	width:100%;
}
@media (max-width:1000px) 
{

	.col-lmd-1 
	{
		width:calc((1/12)*100%);
	}
	.col-lmd-2 
	{
		width:calc((2/12)*100%);
	}
	.col-lmd-3 
	{
		width:25%;
	}
	.col-lmd-4 
	{
		width:calc((4/12)*100%);
	}
	.col-lmd-5 
	{
		width:calc((5/12)*100%);
	}
	.col-lmd-6 
	{
		width:50%;
	}
	.col-lmd-7 
	{
		width:calc((7/12)*100%);
	}
	.col-lmd-8 
	{
		width:calc((8/12)*100%);
	}
	.col-lmd-9 
	{
		width:75%;
	}
	.col-lmd-10 
	{
		width:calc((10/12)*100%);
	}
	.col-lmd-11 
	{
		width:calc((11/12)*100%);
	}
	.col-lmd-12 
	{
		width:100%;
	}
}
@media (max-width:850px) 
{

	.col-mid-1 
	{
		width:calc((1/12)*100%);
	}
	.col-mid-2 
	{
		width:calc((2/12)*100%);
	}
	.col-mid-3 
	{
		width:25%;
	}
	.col-mid-4 
	{
		width:calc((4/12)*100%);
	}
	.col-mid-5 
	{
		width:calc((5/12)*100%);
	}
	.col-mid-6 
	{
		width:50%;
	}
	.col-mid-7 
	{
		width:calc((7/12)*100%);
	}
	.col-mid-8 
	{
		width:calc((8/12)*100%);
	}
	.col-mid-9 
	{
		width:75%;
	}
	.col-mid-10 
	{
		width:calc((10/12)*100%);
	}
	.col-mid-11 
	{
		width:calc((11/12)*100%);
	}
	.col-mid-12 
	{
		width:100%;
	}
}
@media (max-width:500px)
{
	.col-sam-1 
	{
		width:calc((1/12)*100%);
	}
	.col-sam-2 
	{
		width:calc((2/12)*100%);
	}
	.col-sam-3 
	{
		width:25%;
	}
	.col-sam-4 
	{
		width:calc((4/12)*100%);
	}
	.col-sam-5 
	{
		width:calc((5/12)*100%);
	}
	.col-sam-6 
	{
		width:50%;
	}
	.col-sam-7 
	{
		width:calc((7/12)*100%);
	}
	.col-sam-8 
	{
		width:calc((8/12)*100%);
	}
	.col-sam-9 
	{
		width:75%;
	}
	.col-sam-10 
	{
		width:calc((10/12)*100%);
	}
	.col-sam-11 
	{
		width:calc((11/12)*100%);
	}
	.col-sam-12 
	{
		width:100%;
	}
}
