<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EntirelyPet</title>

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="shortcut icon" href="media/favicon.png">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="lib/angular.min.js"></script>

	<script src="js/data.js"></script>
	<script src="js/main.js"></script>
</head>
<body ng-app="shop" ng-controller="list as vm">
	<header>
		<div class="container flex-parent headerBar">
			<div class="logoContainer flex-child">
				<img src="media/logo.png" alt="logo" class="logo">
			</div>
			<div class="search flex-child flex-parent">
				<input type="text" ng-model="vm.searchedContent" class="inputBar" placeholder="Search all of Entirely Pets" ng-show="vm.showSearch" id="searchBar">
				<div class="searchIconContainer flex-parent">
					<img src="media/search.png" alt="searchIcon" class="searchIcon">
				</div>
			</div>
			<div class="topIconContainer flex-parent">
				<img src="media/search_white.png" alt="searchIcon_white" class="topIcon search_white" ng-click="vm.showSearch()">
				<img src="media/chat.png" alt="chatIcon" class="topIcon">
				<img src="media/cart.png" alt="cartIcon" class="topIcon">
			</div>
		</div>
	</header>
	<main>
		<div class="topPro" id="top">
			<img src="media/topPro.png" alt="toImg" class="topPro">
		</div>
		<div class="container">
			<div class="filterBar flex-parent">
				<div class="filter_small_screen flex-parent col-mid-6">
					<div class="filterTag_small_screen col-mid-6">
						Filter &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
						<span class="down">&#9660;</span>
					</div>
					<div class="typeContainer">
						<button class="type" ng-click="vm.selectType('dog')">
							Dog
						</button>
						<button class="type" ng-click="vm.selectType('cat')">
							Cat
						</button>
					</div>
					<div class="filterContainer">
						<div class="categoryMenu">
							<span class="selectedCategoryNumber">
								{{vm.selectedCategoryNumber}} categories selected 
								<span class="down">
									&#160;&#160;&#9660;
								</span>
							</span>
							<div class="categoryDropDown flex-parent">
								<div>
									<div ng-repeat="categoryOption in vm.categoryOptions" class="center categoryCheckbox">
										<input type="checkbox" ng-model="categoryOption.isChecked" ng-change="vm.updateSelectedCategories(categoryOption.isChecked, categoryOption.categoryName)">
										{{categoryOption.categoryName}}
									</div>
								</div>
								<button ng-click="vm.reset()" class="reset reset_smallscreen">
									Reset
								</button>
							</div>
						</div>
					</div>					
				</div>
				<div class="sort_small_screen flex-parent col-mid-6">
					<div class="sortContainer">
						<select ng-model="vm.sortType" class="form-control">
							<option value="">Sort By:</option>
						    <option value="price">Price low to high</option>
						    <option value="-price">Price high to low</option>
						</select>
					</div>
				</div>
				<div class="resetContainer flex-child">
					<button ng-click="vm.reset()" class="reset">
						Reset
					</button>
				</div>
				<div class="totalProduct">
					{{filtered.length}} Products
				</div>
			</div>
			<div class="totalProduct_smallscreen">
				{{filtered.length}} Products
			</div>
			<div class="productList">
				<div ng-repeat="item in vm.items | filter: {name: vm.searchedContent} | filter:{type: vm.productType} | filter: vm.setCategory | orderBy: vm.sortType as filtered" class="col-lag-3 col-lmd-4 col-mid-6 col-sam-12 productContainer">
					<div class="productInnerContainer">
						<div class="productImgContainer">
					    	<img ng-src="{{item.pic}}" alt="productImg" class="productPic">
					    </div>
					    <div class="name">
					    	{{item.name}}
					    </div>
					    <div class="price">
					    	${{item.price}}
					    </div>
					</div>
				</div>
			</div>
		</div>
		<a href="#top">
		<div class="getTop flex-parent">
			&#8682;
		</div>
		</a>
	</main>
</body>
</html>