:root
{
  --main-color: #6180b0;
  --background-color-light:#ffffff;
  --background-color-mid: #fafafa;
  --background-color-dark: #eef0ef;
  --showdow-color:#a7a7a7;
  --border-color:#c7c7c7;
  --button-color-dark:#da5452;
  --button-color-light:#ee6922;
}
body
{
	background-color: #fafafa;
}
header
{
	height: 58px;
	width: 100%;
	min-width: 315px;
	background-color: var(--main-color);
	position: fixed;
	top:0;
	z-index: 1;
}
.headerBar
{
	height: 100%;
}
.logo
{
	height: 30px;
}
.inputBar
{
	padding: 9px 10px;
	width: 400px;
	border: none;
	font-size: 0.9rem;
}
.searchIconContainer
{
	background-color: var(--background-color-dark);
	padding: 8px 12px 7px 12px;
}
.searchIcon
{
	width: 20px;
}
.topIcon
{
	width: 30px;
	margin-left: 15px;
}
main
{
	margin-top: 58px;
}
.topPro
{
	width: 100%;
	object-fit: cover;
}
.filterBar
{
	background-color: var(--background-color-light);
	box-shadow: 0px 2px 4px 1px var(--showdow-color);
	padding: 10px 10px;
	margin-top: 20px;
}
.type
{
	border: 0;
	font-size: 1rem;
	font-weight: bold;
}
.type:hover
{
	text-decoration: underline;
}
.filterContainer, .resetContainer, .sortContainer
{
	margin-left: 20px;
}
.categoryMenu
{
	outline-style: solid;
  	outline-width: thin;
  	outline-color: var(--border-color);
	font-size: 0.9rem;
	padding: 8px 10px;
	position: relative;
	background-color: var(--background-color-light);
}
.categoryDropDown
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	background-color: var(--main-color);
	justify-content: center;
	padding: 5px 0 15px 0;
	display: none;
	z-index: 1;
}
.categoryCheckbox
{
	padding: 5px 10px;
}
.categoryMenu:hover .categoryDropDown
{
	display: flex;
	/*z-index: 1;*/
}
.categoryMenu:hover
{
	outline: none;
	background-color: var(--main-color);
	color: var(--background-color-light);
	font-weight: 500;
}
select.form-control:not([size]):not([multiple])
{
	height: 34px;
}
.form-control
{
	border: var(--border-color) solid 1px;
	background-color: white;
	font-size: 0.9rem;
}
.reset
{
	background-color: var(--button-color-dark);
	color: var(--background-color-light);
	padding: 8px 20px;
	font-size: 0.9rem;
}
.totalProduct
{
	font-size: 0.9rem;
}
.productList
{
	margin-top: 30px;
}
.productContainer
{
	padding: 15px;
}
.productContainer:hover
{
	opacity: 0.8;
}
.productInnerContainer
{
	box-shadow: 0px 2px 4px 1px var(--showdow-color);
	background-color: var(--background-color-light);
	margin-bottom: 15px;
}
.productPic
{
	width: 100%;
	padding: 20px;
}
.name
{
	text-align: center;
	font-size: 0.75rem;
	font-weight: 600;
	margin-top: 5px;
}
.price
{
	background-color: var(--button-color-light);
	color: var(--background-color-light);
	font-family: 'Oswald';
	margin:20px 25px;
	text-align: center;
	padding: 8px 0;
}
.search_white, .reset_smallscreen, .totalProduct_smallscreen, .filterTag_small_screen
{
	display: none;
}
.getTop
{
	background-color: #f3ab1b;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1;
	color: var(--background-color-light);
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
}
@media (max-width:1000px)
{
	.inputBar
	{
		width: 300px;
	}
	.categoryMenu
	{
		font-size: 0.85rem;
		padding: 5px 10px;
	}
	.reset
	{
		font-size: 0.8rem;
	}
	.productPic
	{
		padding: 15px;
	}
	.price
	{
		margin:15px 20px;
		font-size: 0.9rem;
		padding: 6px 0;
	}
}
@media (max-width:850px)
{
	.topPro
	{
		height: 150px;
	}
	.search_white
	{
		display: flex;
	}
	.totalProduct_smallscreen, .reset_smallscreen
	{
		display: block;
	}
	.filterTag_small_screen
	{
		display: block;
		padding:6px 25px;
		font-weight: bold;
		width: 100%;
	}
	.down
	{
		font-size: 0.5rem;
	}
	.inputBar, .searchIconContainer
	{
		display: none;
	}
	.showClass
	{
		display: block;
		position: absolute;
		width: 100vw;
		top:58px;
		left:0;
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
		padding: 15px;
	}
	.filter_small_screen
	{
		position: relative;
	}
	.typeContainer, .filterContainer, .resetContainer, .totalProduct
	{
		display: none;
	}
	.typeContainer
	{
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: var(--main-color);
		z-index: 1;
		padding: 15px 15px;
	}
	.type
	{
		background-color: var(--main-color);
		color: var(--background-color-light);
	}
	.filterContainer, .resetContainer, .sortContainer
	{
		margin-left: 0;
	}
	.sortContainer
	{
		border-left: 1px solid var(--border-color);
		padding-left: 15px;
	}
	.filterContainer
	{
		position: absolute;
		width: 100%;
		left: 0;
		top: calc(200% + 10px);
		background-color: var(--main-color);
		z-index: 1;
	}
	.categoryMenu
	{
		outline-style: none;
	  	background-color: var(--main-color);
		padding: 8px 20px;
		position: relative;
		font-size: 1rem;
		color: var(--background-color-light);
	}
	.filterBar
	{
		padding: 0;
	}
	.filter_small_screen:hover .typeContainer
	{
		display: flex;
	}
	.filter_small_screen:hover .filterContainer
	{
		display: block;
	}
	.filter_small_screen:hover
	{
		background-color: var(--main-color);
		color: var(--background-color-light);
	}
	.categoryDropDown
	{
		display: flex;
		padding-bottom: 30px;
	}
	.reset
	{
		background-color: var(--main-color);
		outline: none;
		border: none;
		color: var(--background-color-light);
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		right: 0;
		padding-bottom: 15px;
		font-size: 0.7rem;
	}
	.form-control
	{
		border: none;
		background-color: var(--background-color-light);
		font-size: 0.9rem;
		font-weight: bold;
	}
	.totalProduct_smallscreen
	{
		text-align: right;
		font-size: 0.8rem;
		padding-top: 15px;
		font-weight: 400;
	}
	.productList
	{
		margin-top: 20px;
	}
	.getTop
	{
		width: 45px;
		height: 45px;
		bottom: 20px;
		right: 20px;
	}
}
@media (max-width:600px)
{
	.topPro
	{
		height: 120px;
	}
	.categoryMenu
	{
		outline-style: none;
	  	background-color: var(--main-color);
		padding: 8px 20px;
		position: relative;
		font-size: 0.8rem;
		color: var(--background-color-light);
	}
	.type
	{
		font-size: 0.9rem;
	}
	.type:first-child
	{
		padding-right: 20px;
		padding-left: 5px;
	}
	.type:last-child
	{
		margin-left: 10px;
		padding-left: 20px;
	}
	.typeContainer
	{
		padding: 10px 10px;
	}
	.filterContainer
	{
		top: 180%;
	}
	.reset
	{
		padding-bottom: 15px;
		font-size: 0.6rem;
	}
	.selectedCategoryNumber
	{
		font-size: 0.8rem;
	}
	.categoryMenu
	{
		padding: 5px 10px;
	}
	.filterTag_small_screen
	{
		padding:8px 10px;
	}
	.getTop
	{
		width: 40px;
		height: 40px;
		bottom: 15px;
		right: 5px;
	}
}
@media (max-width:410px)
{
	.logo
	{
		height: 24px;
	}
	.topIcon
	{
		width: 22px;
		margin-left: 14px;
	}
	.sortContainer
	{
		border-left: 1px solid var(--border-color);
		padding-left: 2px;
	}
	.filterTag_small_screen
	{
		padding:6px 6px;
	}
	.selectedCategoryNumber
	{
		font-size: 0.7rem;
	}
	.categoryMenu
	{
		padding: 8px 5px 2px 5px;
	}
	.typeContainer
	{
		padding: 10px 5px;
	}
	.type
	{
		font-weight: 400;
		padding: 0 15px;
	}
	.form-control
	{
		width: 130px;
	}
	.getTop
	{
		width: 30px;
		height: 30px;
		bottom: 15px;
		right: 5px;
		font-size: 1rem;
	}
}
